body {
  background-color: #000000;
}

h1 {
  text-align: center;
  color: rgb(251, 250, 249);
}

.gallery {
  margin: 10px 50px;
}

.gallery img {
  transition: 1s;
  padding: 15px;
  width: 200px;
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}
