body {
  background-color: #000000;
}

nav {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  color: rgb(251, 250, 249);
  font-family: "Roboto", sans-serif;
  /*   
  font-family: "Water Brush", cursive; */
  font-size: calc(1.3rem + 1.3vw);
}

.gallery {
  margin: 10px 50px;
}

.gallery img {
  transition: 1s;
  padding: 15px;
  width: 200px;
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.popup__close--white:link,
.popup__close--white:visited {
  color: white;
  /* top: -4rem;
  right: 1rem; */
  font-size: calc(1.2rem + 1.5vw);
  text-decoration: none;
  /* line-height: 1; */
  /* justify-content: end; */
  /* display: inline-block; */
}

/* .popup__close:link,
.popup__close:visited {
  color: #777;
  position: absolute;
  top: 2rem;
  right: 1rem;
  font-size: 4rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
} */
